body{
	font-size:16px;
}

form{
	border:1px solid blue;
	width:400px;
	border-radius:4px;
}

form h1,
form h2{
	background:blue;
	color:white;
	padding:3px 15px 3px 15px;
}

label{
	display:inline-block;
	width:40%;
	padding-left:17px;
}

label.asterisk::before {
	color:red;
	padding-right:4px;
	content: "*"; 
	position:absolute;
	margin-left:-10px;
}

form > div{
	padding:2px 2px 2px 10px;
}

.clear-padding{
	padding:0px;
}

form > h1{
	margin:0px 0px 10px 0px;
	font-size:1.25em;
}

form h2{
	font-size:0.95em;
}

.floatRight{
	text-align:right;
}

input[type=submit],
input[type=reset]{
	font: 13px Arial, Helvetica, sans-serif;
	border-radius: 2px;
    margin: 5px;
    padding: 12px 30px 12px 30px;
    background: #d3d4d8;
    border: 1px solid #d3d4d8;
    color: #333;
	-webkit-transition: .3s;
}

input[type=submit]:hover,
input[type=reset]:hover{
	opacity: 0.80;
	cursor:pointer;
}

#errorMessageBox{
	border:2px solid red;
	display:none;
	background:lightyellow;
	padding:4px;
	border-radius:4px;
	width: 390px;
	margin-bottom:10px;
	color:#800000;
}

#errorMessageBox h2{
	font-weight:900;
	border-bottom:1px solid black;
	font-size:16px;
	margin:0px;
}

#errorMessageBox  p{
	padding:3px;
	margin:0px 0px 5px 0px;
}

input.error{
	border:1px solid red;
	background:#ffe6e6;
}

div[data-validate=checkbox_group].error  h2{
	background:red;
}
